{% extends 'manage/index.html' %}
{% block manage_content %}
 <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6 mx-auto">
            <div class="card shadow mb-4">
	        <div class="card-header py-1 align-items-center d-flex justify-content-between">
	            <h6 class="m-0 font-weight-bold is-gray"><small>{{expert.NOM}}</small></h6>
                <a href="/" class="button is-small is-black">annuler</a>
	        </div>
	        <div class="card-body">
	            <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="">
                            {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                            {%for category,message in messages%}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form method="POST" class="user" action="{{url_for('users.update_expert', id=expert.id)}}">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                <!-- <legend class="mb4">Créer un Expert</legend> -->
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        {{form.username.label(class="form-control-label")}}
                                
                                        {% if form.username.errors %}
                                            {{form.username(class="input is-small is-invalid", value=expert.NOM) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.username(class="input is-small", value=expert.NOM)}}
                                        {% endif %}
                                    </div>
                                   </div> 
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        {{form.Numero.label(class="form-control-label")}}
                                
                                        {% if form.Numero.errors %}
                                            {{form.Numero(class="input is-small is-invalid", value=expert.NUMERO) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Numero.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form.Numero(class="input is-small", value=expert.NUMERO)}}
                                        {% endif %}
                                    </div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                            {{form.email.label(class="form-control-label")}}
                                        
                                            {% if form.email.errors %}
                                                {{ form.email(class="input is-small is-invalid", value=expert.EMAIL) }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                    {{form.email(class="input is-small", value=expert.EMAIL)}}
                                                {% endif %}
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.Titre.label(class="form-control-label") }}
                                           
                                            {% if form.Titre.errors %}
                                             <select class="input is-small is-invalid" name="TITRE">
                                                <option value="M." {% if expert.TITRE == "M." %} selected {%endif%}>M</option>
                                                <option value="MME" {% if expert.TITRE == "MME" %} selected {%endif%}>Mme</option>
                                            </select>
                                                {# form.Titre(class="input is-small is-invalid", value=expert.TITRE) #}
                                                <div class="invalid-feedback">
                                                    {% for error in form.Titre.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                <select class="is-small input" name="TITRE">
                                                    <option value="M." {% if expert.TITRE == "M." %} selected {%endif%}>M</option>
                                                    <option value="MME" {% if expert.TITRE == "MME" %} selected {%endif%}>Mme</option>
                                                </select>
                                                    {#form.Titre(class="input is-small", value=expert.TITRE)#}
                                                {% endif %}
                                            </div>
                                    </div>
                                </div>                 
        
                                <div class="form-group">
                                {{form.Type_Expert.label(class="form-control-label")}}
        
                                {% if form.Type_Expert.errors %}
                                     <select class="input is-small is-invalid" name="TYPE">
                                        <option value="Interv" {% if expert.TYPE == "Interv" %} selected {%endif%}>interv</option>
                                        <option value="CONCESS" {% if expert.TYPE == "CONCESS" %} selected {%endif%}>concess</option>
                                        <option value="agent Cell Dev" {% if expert.TYPE == "agent Cell Dev" %} selected {%endif%}>agent cell dev</option>
                                        <option value="Suiveur Cell Tech" {% if expert.TYPE == "Suiveur Cell Tech" %} selected {%endif%}>suiveur cell tech</option>
                                        <option value="Suiveur Cell Planif" {% if expert.TYPE == "Suiveur Cell Planif" %} selected {%endif%}>suiveur cell planif</option>
                                        <option value="Admin" {% if expert.TYPE == "Admin" %} selected {%endif%}>admin</option>
                                        <option value="Audit" {% if expert.TYPE == "Audit" %} selected {%endif%}>audit</option>
                                    </select>
                                    {# form.Type_Expert(class="input is-small is-invalid", value=expert.TYPE) #}
                                    <div class="invalid-feedback">
                                        {% for error in form.Type_Expert.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {# form.Type_Expert(class="input is-small", value=expert.TYPE) #}
                                        <select class="is-small input" name="TYPE">
                                            <option value="Interv" {% if expert.TYPE == "Interv" %} selected {%endif%}>interv</option>
                                            <option value="CONCESS" {% if expert.TYPE == "CONCESS" %} selected {%endif%}>concess</option>
                                            <option value="agent Cell Dev" {% if expert.TYPE == "agent Cell Dev" %} selected {%endif%}>agent cell dev</option>
                                            <option value="Suiveur Cell Tech" {% if expert.TYPE == "Suiveur Cell Tech" %} selected {%endif%}>suiveur cell tech</option>
                                            <option value="Suiveur Cell Planif" {% if expert.TYPE == "Suiveur Cell Planif" %} selected {%endif%}>suiveur cell planif</option>
                                            <option value="Admin" {% if expert.TYPE == "Admin" %} selected {%endif%}>admin</option>
                                            <option value="Audit" {% if expert.TYPE == "Audit" %} selected {%endif%}>audit</option>
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{form.password.label(class="form-control-label")}}
                                        
                                            {% if form.password.errors %}
                                                {{ form.password(class="input is-small is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                    {{form.password(class="input is-small")}}
                                                {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                         <div class="form-group">
                                            {{form.confirm_password.label(class="form-control-label")}}
                                        
                                            {% if form.confirm_password.errors %}
                                                {{ form.confirm_password(class="input is-small is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.confirm_password.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                    {{form.confirm_password(class="input is-small")}}
                                                {% endif %}
                                            </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                    {{form.modifier(class="button is-success is-small is-fullwidth")}}    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
    <!-- /.container-fluid -->
{%endblock%}