{% extends 'manage/index.html' %}
{% block manage_content %}
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tarif</h1>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-3">
	            <h6 class="m-0 font-weight-bold d-inline">Modifier le tarif <small>{{tarif.Type}}</small></h6>
                <a href="/tarifs" class="btn btn-primary btn-sm pull-right"><i class="fa fa-euro"></i></a>
	        </div>
	        <div class="card-body">
	            <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="p-5">
                            {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                            {%for category,message in messages%}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form class="user" method="POST" action="{{url_for('users.update_tarif', id=tarif.id)}}">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        {{form.service.label(class="form-control-label")}}
                    
                                        {% if form.service.errors %}
                                        {{form.service(class="form-control is-invalid", value=tarif.Service_offert) }}
                                        <div class="invalid-feedback">
                                            {% for error in form.service.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.service(class="form-control form-control-lg", value=tarif.Service_offert)}}
                                    {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        {{form.type_de_tarif.label(class="form-control-label")}}

                                    {% if form.type_de_tarif.errors %}
                                        {{ form.type_de_tarif(class="form-control form-control-lg is-invalid", value=tarif.Type)}}
                                        <div class="invalid-feedback">
                                            {% for error in form.type_de_tarif.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.type_de_tarif(class="form-control form-control-lg", value=tarif.Type)}}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        {{form.prix.label(class="form-control-label")}}

                                    {% if form.prix.errors %}
                                        {{ form.prix(class="form-control form-control-lg is-invalid", value=tarif.Prix)}}
                                        <div class="invalid-feedback">
                                            {% for error in form.prix.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.prix(class="form-control form-control-lg", value=tarif.Prix)}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{form.modifier(class="btn btn-success")}}   
                                </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
    <!-- /.container-fluid -->
{%endblock%}