{% extends 'manage/index.html' %}
{% block manage_content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Expert</h1>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-3">
	            <h6 class="m-0 font-weight-bold d-inline">Expert</h6>
                <a href="/ajouter/expert" title="ajouter un expert" class="btn btn-primary btn-sm pull-right"><i class="fa fa-user-plus"></i></a>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
                     {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                            {%for category,message in messages%}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Type</th>
                        <th scope="col">Email</th>
                        <th scope="col">Numero</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for expert in Expert %}
                            <tr>
                                <th scope="row">{{expert.id}}</th>
                                <td>{{expert.TITRE}} {{expert.NOM}}</td>
                                <td>{{expert.TYPE}}</td>
                                <td>{{expert.EMAIL|truncate(15, True)}}</td>
                                <td>{{expert.NUMERO}}</td>
                                <td><a href="{{url_for('users.edit_expert', id=expert.id)}}" class="btn btn-secondary btn-sm"><i class="fa fa-pen"></i></a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
{% endblock %}