{% extends 'manage/index.html' %}
{% block manage_content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Facturation</h1>
        <h3 class="text-gray-800"><i class="far fa-arrow-alt-circle-left"></i></h3>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-3 justify-content-between d-flex align-items-center">
	            <h6 class="m-0 font-weight-bold text-gray-600">Facturation</h6>
              <a href="/ajouter/facturation" title="ajouter un expert" class="button is-dark is-small">ajouter une facture</a>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
	                <table class="table" id="dataTable" style="width:100%">
                        <thead class="">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Facture_no</th>
                            <th scope="col">Date_</th>
                            <th scope="col">Pays</th> 
                            <th scope="col">Destinataire</th>
                            <th scope="col">expéditeur</th> 
                            <th scope="col">Montant</th>
                            <th scope="col">TVA</th>
                            <th scope="col">Total</th>
                            <th scope="col">Type</th> 
                            <th scope="col">Proprietaire</th> 
                            <th scope="col">Locataire</th>
                            <th scope="col">Ville</th> 
                            <th scope="col">Surface</th>
                            <th scope="col">Tarif</th>
                            <th scope="col">Appt_Pav</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for facturation_ in Facturation %}
                                <tr>
                                    <th scope="row">{{facturation_.id}}</th>
                                    <td>{{facturation_.Facture_no}}</td>
                                    <td>{{facturation_.Date_}}</td>
                                    <td>{{facturation_.Pays}}</td> 
                                    <td>{{facturation_.Destinataire}}</td>
                                    <td>{{facturation_.expéditeur}}</td> 
                                    <td>{{facturation_.Montant}}</td>
                                    <td>{{facturation_.TVA}}</td>
                                    <td>{{facturation_.Total}}</td>
                                    <td>{{facturation_.Type}}</td> 
                                    <td>{{facturation_.Proprietaire}}</td>
                                    <td>{{facturation_.Locataire}}</td>
                                    <td>{{facturation_.Ville}}</td> 
                                    <td>{{facturation_.Surface}}</td>
                                    <td>{{facturation_.Tarif}}</td>
                                    <td>{{facturation_.Appt_Pav}}</td>
                                    <td>
                                        <a href="{{url_for('users.edit_facturation', id=facturation_.id)}}" title="modifier" class="center button is-outlined-black is-small"><i class="fa fa-pen"></i></a> &nbsp;
                                    </td>   
                                    <td>
                                        <a href="{{url_for('users.delete_facturation', id=facturation_.id)}}" onclick="return confirm('Voulez vous supprimer?')" title="modifier" class="center button is-danger	 is-small"><i class="fa fa-trash"></i></a> &nbsp;
                                    </td> 
                                </tr>
                               
                            {%endfor%}
                        </tbody>
                    </table>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
{% endblock %}