{% extends 'manage/index.html' %}
{% block manage_content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-3 justify-content-between d-flex align-items-center">
	            <h6 class="m-0 font-weight-bold text-gray-600">Facturation</h6>
              <a href="/" title="ajouter un expert" class="button is-dark is-small">annuler</a>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
	                <table class="table" id="dataTable" style="width:100%">
                        <thead class="">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Type</th>
                            <!-- <th scope="col">SOCIETE</th> -->
                            <th scope="col">TITRE</th>
                            <!-- <th scope="col">NOM</th> -->
                            <th scope="col">EMAIL</th>
                            <th scope="col">NUMERO</th>
                            <th scope="col">ADRESSE1</th>
                            <!-- <th scope="col">ADRESSE2</th> -->
                            <!-- <th scope="col">CP</th> -->
                            <th scope="col">VILLE</th>
                            <!-- <th scope="col">Zone_de_région_du_client</th> -->
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for facturation_ in Facturation %}
                                <tr>
                                    <th scope="row">{{facturation_.id}}</th>
                                    <td>{{facturation_.Reference}}</td>
                                    <td>{{facturation_.TYPE}}</td>
                                    <!-- <td>{{facturation_.SOCIETE}}</td> -->
                                    <td>{{facturation_.TITRE}}</td>
                                    <!-- <td>{{facturation_.NOM}}</td> -->
                                    <td>{{facturation_.EMAIL}}</td>
                                    <td>{{facturation_.NUMERO}}</td>
                                    <td>{{facturation_.ADRESSE1}}</td>
                                    <!-- <td>{{facturation_.ADRESSE2}}</td> -->
                                    <!-- <td>{{facturation_.CP}}</td> -->
                                    <td>{{facturation_.VILLE}}</td>
                                    <!-- <td>{{facturation_.Zone_de_région_du_client}}</td> -->
                                    <td style="display: flex"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaledit{{facturation_.id}}"><i class="fas fa-eye"></i></button><a href="{{ url_for('users.delete',id=facturation_.id,type1='client' )}}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                                    
                                </tr>
                                <div id="modaledit{{facturation_.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                   <div class="modal-header"><h4 class="modal-title">Update Information</h4></div>
                                    <div class="modal-body">
                                    <form action="{{url_for('users.update')}}" method="POST">
                                     <div class="form-group">
                                      <label>NOM</label>
                                      <input type="hidden"  name="id" value="{{facturation_.id}}">
                                      <input type="text" class="form-control" name="name" value="{{facturation_.NOM}}">
                                     </div>
                                     <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" class="form-control" name="email" value="{{facturation_.EMAIL}}">
                                     </div>
                                     <div class="form-group">
                                      <label>NUMERO</label>
                                      <input type="text" class="form-control" name="phone" value="{{facturation_.NUMERO}}">
                                     </div>
                                     <div class="form-group">
                                        <label>ADRESSE1</label>
                                        <input type="text" class="form-control" name="ADRESSE1" value="{{facturation_.NUMERO}}">
                                    </div>
                                    

                                     <div class="form-group">
                                      <button class="btn btn-primary" type="submit">Update</button>
                                     </div>
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                  </div>
                                 </div> 
                            {%endfor%}
                        </tbody>
                    </table>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
{% endblock %}