{% extends 'manage/index.html' %}
{% block manage_content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Prospect</h1>
        <h3 class="text-gray-800"><i class="far fa-arrow-alt-circle-left"></i></h3>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-1 justify-content-between d-flex" style="display: flex;justify-content: space-between;"> 
	            <h6 class="m-0 font-weight-bold d-inline"><i class="fa fa-users" style="font-size: 25px;"></i> Prospects</h6>
                <a href="{{url_for('users.ajouter_prospect')}}" title="ajouter un client" class="button is-black is-small pull-right"><span class="is-warning">ajouter un prospect</span></a>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
                      {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                            {%for category,message in messages%}
                            <div class="alert alert-{{category}} is-small">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
	                <table class="table table-bordered" id="dataTable" style="width:100%">
                        <thead class="">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Type</th>
                            <!-- <th scope="col">SOCIETE</th> -->
                            <th scope="col">Nom</th>
                            <!-- <th scope="col">NOM</th> -->
                            <th scope="col">Email</th>
                            <th scope="col">Tel</th>
                            <!-- <th scope="col">ADRESSE2</th> -->
                            <!-- <th scope="col">CP</th> -->
                            <!--th scope="col">Ville</th-->
                            <!-- <th scope="col">Zone_de_région_du_client</th> -->
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for client_ in Client %}
                                <tr>
                                    <th scope="row">{{client_.id}}</th>
                                    <td>{{client_.reference}}</td>
                                    <td>{{client_.TYPE}}</td>
                                    <!-- <td>{{client_.SOCIETE}}</td> -->
                                    <td> {{client_.nom | truncate(10, True)}}</td>
                                    <!-- <td>{{client_.NOM}}</td> -->
                                    <td>{{client_.email | truncate(10, True)}}</td>
                                    <td>{{client_.numero}}</td>
                                    <!--td>{{client_.ADRESSE1|truncate(10, True)}}</td-->
                                    <!-- <td>{{client_.ADRESSE2}}</td> -->
                                    <!-- <td>{{client_.CP}}</td> -->
                                    <!--td>{{client_.VILLE|truncate(5, True)}}</td-->
                                    <!-- <td>{{client_.Zone_de_région_du_client}}</td> -->
                                    <td> <a href="{{url_for('users.edit_prospect', id=client_.id)}}" title="modifier" class="button is-outlined-black is-small is-fullwidth"><i class="fa fa-pen" style="text-align: center"></i></a> </td>
                                    <td style="">
                                        <a href="{{url_for('users.show_prospect', id=client_.id)}}" title="voir tout les details" class="button is-small is-primary is-fullwidth" style="text-align: center"><i class="fa fa-eye"></i></a>
                                        <!-- <a href="/ajoutez/agenda/{{client_.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{client_.id}}">créer un agenda</a> -->
                                    </td>   
                                     <td> <a href="{{url_for('users.delete_prospect', id=client_.id)}}" onclick="return confirm('Voulez vous supprimer?')" title="voir tout les details" class=" is-small is-danger is-fullwidth button"><i class="fa fa-trash"></i></a></td>   
                                </tr>    
                            {%endfor%}
                        </tbody>
                    </table>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
{% endblock %}