{% extends 'manage/index.html' %}
{% block manage_content %}
	<div class="container-fluid">
 	    <!-- Content Row -->
 	    <div class="row">
			<main class="col-md-12">
				<article class="card">
				<header class="card-header">
					<strong class="d-inline-block mr-3">Données concernant la Mission No {{mission.id}}</strong>
				</header>
				<div class="card-body">
					<div class="row"> 
						<div class="col-md-8">
                            <h4>Information des concernées</h4>
							<p>N° du client: <strong>{{mission.Bailleur__data.reference}}</strong></p>
                            <p>N° du Concensionnaire: <strong>{{mission.ID_CONCESS}}</strong></p>
						</div>
                        <div class="col-md-8">
                            <h4>Date</h4>
							<p>Date de la realisation EDL: <strong>{{mission.DATE_REALISE_EDL}}</strong></p>
                            <p>Date de la creation de la Facture: <strong>{{mission.DATE_FACTURE}}</strong></p>
							<p>Date de paiement de la Facture: <strong>{{mission.DATE_FACT_REGLEE}}</strong></p>
							<p>Date_chiffrage_regle: <strong>{{mission.Date_chiffrage_regle}}</strong></p>
							
						</div>
                        <div class="col-md-8">
                            <h4>TAX</h4>
							<p>Prix HT EDL: <strong>{{mission.PRIX_HT_EDL}}</strong></p>
                            <p>TVA EDL: <strong>{{mission.TVA_EDL}}</strong></p>
							<p>Prix TTC EDL: <strong>{{mission.PRIX_TTC_EDL}}</strong></p>
							
						</div>
						<div class="col-md-8">	
							<h4>POURCENTAGE</h4>
							<p>POURCENTAGE_COM_AS_DU_CLIENT: <strong>{{mission.POURCENTAGE_COM_AS_DU_CLIENT}}</strong></p>
                            <p>ID_Respon_Cell_Dev:  <strong>{{mission.ID_Respon_Cell_Dev}}</strong> POURCENTAGE_Respon_Cell_Dev: <strong>{{mission.POURCENTAGE_Respon_Cell_Dev}}</strong></p> 
							<p>ID_agent_Cell_Dev:  <strong>{{mission.ID_agent_Cell_Dev}}</strong> POURCENTAGE_Agent_Cell_Dev: <strong>{{mission.POURCENTAGE_Agent_Cell_Dev}}</strong></p> 	
							<p>ID_Agent_CellTech:  <strong>{{mission.ID_Agent_CellTech}}</strong> POURCENTAGE_Agent_Cell_Tech: <strong>{{mission.POURCENTAGE_Agent_Cell_Tech}}</strong></p> 
							<p>ID_Respon_Cell_Tech:  <strong>{{mission.ID_Respon_Cell_Tech}}</strong> POURCENTAGE_Respon_Cell_Tech: <strong>{{mission.POURCENTAGE_Respon_Cell_Tech}}</strong></p>
							<p>ID_Suiveur_Cell_Tech:  <strong>{{mission.ID_Suiveur_Cell_Tech}}</strong> POURCENTAGE_Suiveur_Cell_Tech: <strong>{{mission.POURCENTAGE_Suiveur_Cell_Tech}}</strong></p>
							<p>ID_Respon_Cell_Planif:  <strong>{{mission.ID_Respon_Cell_Planif}}</strong> POURCENTAGE_Respon_Cell_Planif: <strong>{{mission.POURCENTAGE_Respon_Cell_Planif}}</strong></p>
							<p>ID_Suiveur_Cell_Planif :  <strong>{{mission.ID_Suiveur_Cell_Planif }}</strong> POURCENTAGE_Suiveur_Cell_Planif: <strong>{{mission.POURCENTAGE_Suiveur_Cell_Planif}}</strong></p>
							<p>ID_manager_chiffrage :  <strong>{{mission.ID_manager_chiffrage }}</strong> POURCENTAGE_manager_chiffrage <strong>{{mission.POURCENTAGE_manager_chiffrage}}</strong></p>
							<p>ID_Agent_saisie_Cell_Planif :  <strong>{{mission.ID_Agent_saisie_Cell_Planif }}</strong> POURCENTAGE_Agent_saisie_CEll_planif: <strong>{{mission.POURCENTAGE_Agent_saisie_CEll_planif}}</strong></p>
							<p>ID_agent_chiffrage :  <strong>{{mission.ID_agent_chiffrage }}</strong> POURCENTAGE_agent_chiffrage: <strong>{{mission.POURCENTAGE_agent_chiffrage}}</strong></p>
							<p>POURCENTAGE_AS_chiffrage :  <strong>{{mission.POURCENTAGE_AS_chiffrage }}</strong> POURCENTAGE_suiveur_chiffrage: <strong>{{mission.POURCENTAGE_suiveur_chiffrage}}</strong></p>
							<p>ID_Agent_saisie_Cell_Planif :  <strong>{{mission.ID_Agent_saisie_Cell_Planif }}</strong> POURCENTAGE_Agent_saisie_CEll_planif: <strong>{{mission.POURCENTAGE_Agent_saisie_CEll_planif}}</strong></p>
							<p>ID_Agent_saisie_Cell_Planif :  <strong>{{mission.ID_Agent_saisie_Cell_Planif }}</strong> POURCENTAGE_Agent_saisie_CEll_planif: <strong>{{mission.POURCENTAGE_Agent_saisie_CEll_planif}}</strong></p>
							<p>ID_Agent_saisie_Cell_Planif :  <strong>{{mission.ID_Agent_saisie_Cell_Planif }}</strong> POURCENTAGE_Agent_saisie_CEll_planif: <strong>{{mission.POURCENTAGE_Agent_saisie_CEll_planif}}</strong></p>
						</div> 
						<div class="col-md-8">
							<h4>Autres</h4>
							<p>ID_INTERV: <strong>{{mission.ID_INTERV}}</strong></p>
                            <p>Reference_LOCATAIRE: <strong>{{mission.Reference_LOCATAIRE}}</strong></p>
							<p>TVA_AS: <strong>{{mission.TVA_AS}}</strong></p>
							<p>CA_HT_AS: <strong>{{mission.CA_HT_AS}}</strong></p>
							<p>CA_TTC_AS: <strong>{{mission.CA_TTC_AS}}</strong></p>
							<p>CA_HT_AC: <strong>{{mission.CA_HT_AC}}</strong></p>
							<p>CA_HT_TRUST: <strong>{{mission.CA_HT_TRUST}}</strong></p>
							<p>TVA_TRUST: <strong>{{mission.TVA_TRUST}}</strong></p>
							<p>CA_HT_AS: <strong>{{mission.CA_HT_AS}}</strong></p>
							<p>CA_HT_AS: <strong>{{mission.CA_HT_AS}}</strong></p>
						</div>

					</div> <!-- row.// -->
				</div> <!-- card-body .// -->
				</article>
				<!-- order-group.// --> 
			</main>
		</div>
	</div>
    <!-- /.container-fluid -->
{%endblock%}