{% extends 'manage/index.html' %}
{% block manage_content %}
	<div class="container-fluid">
		  <!-- Page Heading -->
		  <div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Tarif</h1>
			<h3 class="text-gray-800"><i class="far fa-arrow-alt-circle-left" onclick="history.back(-1)"></i></h3>
		</div>
 	    <!-- Content Row -->
 	    <div class="row">
			<main class="col-md-12">
				<article class="card">
				<header class="card-header">
					<strong class="d-inline-block mr-3">Données</strong>
				</header>
				<div class="card-body">
					<div class="row"> 
						<div class="col-md-8">
							<h6 class=""><strong>NOM</strong> <strong><small>{{tarif.data_client.nom}}</small></strong></h6> 
							<p><strong>EDL_PRIX_STD:</strong> <small>{{tarif.edl_prix_std}}</small><br>  
							<strong>EDL_APPT_prix_F1:</strong> <small>{{tarif.edl_appt_prix_f1}}</small> <strong>EDL_APPT_prix_F2:</strong> <small>{{tarif.edl_appt_prix_f2}}</small> <br> 
					    	<strong>EDL_APPT_prix_F3:</strong> <small>{{tarif.edl_appt_prix_f3}}</small> <strong>EDL_APPT_prix_F4:</strong> <small>{{tarif.edl_appt_prix_f4}}</small> <br> 
                            <strong>EDL_APPT_prix_F5:</strong> {{tarif.edl_appt_prix_f5}}<br> 
							<h6 class=""><strong>EDL_APPT_prix_F6:</strong> <strong><small>{{tarif.edl_appt_prix_f6}}</small></strong></h6>
							<strong>CHIF_APPT_prix_F1:</strong> {{tarif.chif_appt_prix_f1}} <br>
                            <strong>CHIF_APPT_prix_F2:</strong> {{tarif.chif_appt_prix_f2}} <br> 
                            <strong>CHIF_APPT_prix_F3:</strong> {{tarif.chif_appt_prix_f3}} <br> 
                            <strong>CHIF_APPT_prix_F4:</strong> {{tarif.chif_appt_prix_f4}} <br> 
							<strong>CHIF_APPT_prix_F5:</strong> {{tarif.chif_appt_prix_f5}} <br>
					 		</p>
						</div>
						<div class="col-md-4">
							<p><strong>EDL_PAV_villa_prix_T1: </strong> <small>{{tarif.edl_pav_villa_prix_t1}}</small><br>  
							<strong>EDL_PAV_villa_prix_T2:</strong> <small>{{tarif.edl_pav_villa_prix_t2}}</small> <br>
					    	<strong>EDL_PAV_villa_prix_T3:</strong> <small>{{tarif.edl_pav_villa_prix_t3}}</small> <br> 
                            <strong>EDL_PAV_villa_prix_T4:</strong> {{tarif.edl_pav_villa_prix_t4}} <br> 
                            <strong>EDL_PAV_villa_prix_T5:</strong> {{tarif.edl_pav_villa_prix_t5}} <br> 
                            <strong>EDL_PAV_villa_prix_T6:</strong> {{tarif.edl_pav_villa_prix_t6}} <br> 
                            <strong>EDL_PAV_villa_prix_T7:</strong> {{tarif.edl_pav_villa_prix_t7}} <br> 
                            <strong>EDL_PAV_villa_prix_T8:</strong> {{tarif.edl_pav_villa_prix_t8}} <br> 
                            <strong>CHIF_APPT_prix_stu:</strong> {{tarif.chif_appt_prix_stu}} <br> 
							<strong>chif_pav_villa_prix_t1:</strong> {{tarif.chif_pav_villa_prix_t1}} <br>
							<strong>chif_pav_villa_prix_t2:</strong> {{tarif.chif_pav_villa_prix_t2}} <br>
							<strong>chif_pav_villa_prix_t3:</strong> {{tarif.chif_pav_villa_prix_t3}} <br>
							<strong>chif_pav_villa_prix_t4:</strong> {{tarif.chif_pav_villa_prix_t4}} <br>
							<strong>chif_pav_villa_prix_t5:</strong> {{tarif.chif_pav_villa_prix_t5}} <br>
							<strong>chif_pav_villa_prix_t6:</strong> {{tarif.chif_pav_villa_prix_t6}} <br>
							<strong>chif_pav_villa_prix_t7:</strong> {{tarif.chif_pav_villa_prix_t7}} <br>
							<strong>chif_pav_villa_prix_t8:</strong> {{tarif.chif_pav_villa_prix_t8}} <br>
							<strong>commentaire_libre:</strong> {{tarif.commentaire_libre}} <br>
							
					 		</p>
						</div> 
					</div> <!-- row.// -->
				</div> <!-- card-body .// -->
				</article>
			
				 <!-- order-group.// --> 
			</main>
		</div>
	</div>
    <!-- /.container-fluid -->
{%endblock%}