{% extends 'manage/index.html' %}
{% block manage_content %}
	<div class="container-fluid">
		  <!-- Page Heading -->
		  <div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Facture</h1>
			<h3 class="text-gray-800"><i class="far fa-arrow-alt-circle-left" onclick="history.back(-1)"></i></h3>
		</div>
 	    <!-- Content Row -->
 	    <div class="row">
			<main class="col-md-12">
				<article class="card">
				<header class="card-header">
					<strong class="d-inline-block mr-3">Facture No {{facture[0].facturation_client__data_.n_facture}}</strong>
				</header>
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
                            <h4>Information du concerné</h4>
							<p>Reference: <strong>{{facture[0].mission__data_.Bailleur__data.reference}}</strong></p>
							<p>Societe: <strong>{{facture[0].mission__data_.Bailleur__data.societe}}</strong></p>
                            <p>Montant_HT: <strong>{{facture[0].facturation_client__data_.Montant_HT}}</strong></p>
							<p>Nom : <strong>{{facture[0].mission__data_.Bailleur__data.nom}}</strong></p>
							<p>Email: <strong>{{facture[0].mission__data_.Bailleur__data.email}}</strong></p>
						</div>

                        <div class="col-md-4">
                            <p>Date de creation de la Facture: <strong>{{facture[0].facturation_client__data_.Date_de_creation}}</strong></p>
                            <p>Statut: <strong>{{facture[0].facturation_client__data_.Statut}}</strong></p>

						</div>
						
					</div>
					<div class="row"> 
						
						<div class="col-md-12">
                            <table class="table table-bordered" id="dataTable" style="width:100%">
                                <thead class="">
                                <tr>
                                    <th>No Mission</th>
                                    <th>DATE REALISE EDL</th>
                                    <th>Type</th>
                                    <th>Proprietaire</th>
                                    <th>Locataire</th>
                                    <th>ville</th>
                                    <th>Appt-Pav</th>
                                    <th>Type</th>
                                    <th>Surface</th>
                                    <th>Tarif ht</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {%for fac in facture %}
                                        <tr>
                                            <td>{{fac.mission__data_.id}}</td>
                                            <td>{{fac.mission__data_.DATE_REALISE_EDL}}</td>
                                            <td>{{fac.mission__data_.TYPE_EDL}}</td>
                                            <td>{{fac.mission__data_.NOMPROPRIO}}</td>
                                            <td>{{fac.mission__data_.Reference_LOCATAIRE}}</td>
                                            <td>{{fac.mission__data_.Ville_Bien}}</td>
                                            <td>{{fac.mission__data_.TYPE_DE_BIEN}}</td>
                                            <td>{{fac.mission__data_.TYPE_LOGEMENT}}</td>
                                            <td>{{fac.mission__data_.surface_logement1}}</td>
                                            <td>{{fac.mission__data_.PRIX_HT_EDL}}</td>   
                                        </tr>    
                                    {%endfor%}
                                </tbody>
                            </table>
                            
						</div>
					</div> <!-- row.// -->
				</div> <!-- card-body .// -->
				</article>
				<!-- order-group.// --> 
			</main>
		</div>
	</div>
    <!-- /.container-fluid -->
{%endblock%}