{% extends 'manage/index.html'%}
{% block manage_content %}
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-1 d-flex justify-content-between align-items-center">
	            <h6 class="m-0 font-weight-bold d-inline">Tarifs</h6>
	            <a href="/" title="ajouter un tarif" class="button is-small is-black">annuler</a>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
	            	 {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                            {%for category,message in messages%}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
	               <table class="table table-bordered" id="dataTable">
		                <thead>
		                    <tr>
		                        <th scope="col">id</th>
		                        <!-- <th scope="col" title="Details_du_rendezvous">dd-rdv</th> -->
		                        <th scope="col" title="client">Service offert</th> 
		                        <th scope="col" title="audit_planner">Type</th>
		                        <th scope="col" title="Agent_referent_du_client">Prix</th> 
		                        <th scope="col" title="Validation_par_agent">TVA</th> 
		                        <th scope="col">Modifier</th>	
		                        <th>Suprimer</th>	                     
		                    </tr>
		                </thead>
		                <tbody>
		                {%for tarif in tarifs %}
		                    <tr>
		                        <th scope="row">{{tarif.id}}</th>
		                        <td>{{tarif.Service_offert}}</td>
		                        <td>{{tarif.Type}}</td>
								<td>{{tarif.Prix}}</td>
								<td>{{tarif.tva}}</td> 
								<td >
                                    <a href="{{url_for('users.edit_tarif', id=tarif.id)}}" title="modifier" class="center button is-outlined-black is-small"><i class="fa fa-pen"></i></a> &nbsp;
                                </td>   
                                <td>
                                    <a href="#" title="modifier" class="center button is-danger	 is-small"><i class="fa fa-trash"></i></a> &nbsp;
                                </td>    	                        
		                    </tr>
		                {%endfor%}
		                </tbody>
		            </table>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
    <!-- /.container-fluid -->
{%endblock manage_content%}