{% extends 'manage/index.html'%}
{% block manage_content %}
 <!-- Begin Page Content -->
    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered p-2">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">439k</p>
                    <p class="subtitle">Bailleure</p>
                </article>
            </div>
             <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">19</p>
                    <p class="subtitle">Chiffrage</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">59k</p>
                    <p class="subtitle">Expert</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">3.4k</p>
                    <p class="subtitle">Locataire</p>
                </article>
            </div>           
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">19</p>
                    <p class="subtitle">Mission</p>
                </article>
            </div>
        </div>
    </section>
    <hr class="m-t-0">

    <section class="container">
        <div class="columns is-multiline">
             <div class="column is-one-quarter">
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <content class="content">
                                <h3 class="title">Chiffrage</h3>
                            </content>
                            <div class="columns is-mobile">
                                <div class="column is-one-half">
                                    <a href="chiffrage" class="button is-small is-fullwidth" title="consultez la list"><i class="fa fa-list"></i></a>
                                </div>
                                <div class="column is-one-half">
                                    <a href="ajoutez/chiffrage" class="button is-small is-fullwidth" title="ajouter un chiffrage"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-quarter">
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <content class="content">
                                <h3 class="title">Client</h3>
                            </content>
                            <div class="columns is-mobile">
                                <div class="column is-one-half">
                                    <a href="client" class="button is-small is-fullwidth" title="consultez la list"><i class="fa fa-list"></i></a>
                                </div>
                                <div class="column is-one-half">
                                    <a href="ajouter/client" class="button is-small is-fullwidth" title="ajouter un client"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="column is-one-quarter">
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <content class="content">
                                <h3 class="title">Expert</h3>
                            </content>
                            <div class="columns is-mobile">
                                <div class="column is-one-half">
                                    <a href="expert" class="button is-small is-fullwidth" title="consultez la list"><i class="fa fa-list"></i></a>
                                </div>
                                <div class="column is-one-half">
                                    <a href="ajouter/expert" class="button is-small is-fullwidth" title="ajouter un expert"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-quarter">
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <content class="content">
                                <h3 class="title">Tarif</h3>
                            </content>
                            <div class="columns is-mobile">
                                <div class="column is-one-half">
                                    <a href="tarifs" class="button is-small is-fullwidth" title="consultez la list"><i class="fa fa-list"></i></a>
                                </div>
                                <div class="column is-one-half">
                                    <a href="ajouter/tarifs" class="button is-small is-fullwidth" title="ajouter un tarif"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-quarter">
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <content class="content">
                                <h3 class="title">Facturation</h3>
                            </content>
                            <div class="columns is-mobile">
                                <div class="column is-one-half">
                                    <a href="facturation" class="button is-small is-fullwidth" title="consultez la list"><i class="fa fa-list"></i></a>
                                </div>
                                <!-- <div class="column is-one-half">
                                    <a href="ajouter/facturation" class="button is-small is-fullwidth" title="ajouter un client"><i class="fa fa-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column is-one-quarter">
                <div class="box">
                    <div class="media">
                        <div class="media-content">
                            <content class="content">
                                <h3 class="title">Mission</h3>
                            </content>
                            <div class="columns is-mobile">
                                <div class="column is-one-half">
                                    <a href="mission" class="button is-small is-fullwidth" title="consultez la list"><i class="fa fa-list"></i></a>
                                </div>
                                <!-- <div class="column is-one-half">
                                    <a href="ajouter/facturation" class="button is-small is-fullwidth" title="ajouter un client"><i class="fa fa-plus"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /.container-fluid -->
{% endblock manage_content %}