{% extends 'manage/index.html'%}
{% block manage_content %}
 <!-- Begin Page Content -->
    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered p-2">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">439k</p>
                    <p class="subtitle">Bailleure</p>
                </article>
            </div>
             <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">19</p>
                    <p class="subtitle">Chiffrage</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">59k</p>
                    <p class="subtitle">Expert</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">3.4k</p>
                    <p class="subtitle">Locataire</p>
                </article>
            </div>           
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">19</p>
                    <p class="subtitle">Mission</p>
                </article>
            </div>

        </div>
    </section>

    <!-- /.container-fluid -->
{% endblock manage_content %}